.jumbotron {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    /* background-color: #fff; */
}


/* @media (min-width: 768px) {
    .jumbotron {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
} */

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}


/* footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
} */

footer p {
    margin-bottom: .25rem;
}

@font-face {
    font-family: "DejaVuSans";
    src: url(../fonts/DejaVuSans.ttf) format("truetype");
}

.card-body-padding {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.cards-text {
    font-family: "DejaVuSans", sans-serif;
    font-size: 50px;
}

.wider-border {
    border-width: 1pt;
}